<!-- FOOTER -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <img
        src="/images/elicon-LogoInwersja_siec.png"
        alt="Logo firmy"
        class="footer-logo"
      />
    </div>

    <div class="footer-column">
      <h3>ELICON Sp. z o.o.</h3>
      <p>Telefon: +48 608 626 220</p>
      <p>Email: biuro@elicon.com</p>
    </div>

    <div class="footer-column">
      <p>NIP: 5833464022</p>
      <p>REGON: 523677321</p>
    </div>
  </div>
  <p class="footer-copyright">
    &copy; 2024 Elicon. Wszelkie prawa zastrzeżone.
  </p>
</footer>

<!-- END OF FOOTER -->
