<header class="header">
  <!-- NAVBAR -->
  <nav class="nav">
    <!-- LOGO -->
    <a href="#" class="logo-elicon" id="logo">
      <img
        src="images/Elicon-logo-text.png"
        alt="Logo firmy"
        class="logo-company"
      />
    </a>
    <!-- MENU -->
    <ul class="nav-list">
      <li>
        <a href="#about"><i class="fas fa-info-circle"></i> O NAS</a>
      </li>
      <li>
        <a href="#projects"><i class="fas fa-images"></i> REALIZACJE</a>
      </li>
      <li>
        <a href="#references"><i class="fas fa-star"></i> REFERENCJE</a>
      </li>
      <li>
        <a href="#contact"><i class="fas fa-envelope"></i> KONTAKT</a>
      </li>
    </ul>
  </nav>
  <!-- END OF NAVBAR -->

  <!-- HAMBURGER MENU -->
</header>
