<header class="header">
  <!-- NAVBAR -->
  <nav class="nav">
    <!-- LOGO -->
    <a href="#" class="logo-elicon">
      <img
        src="images/Elicon-logo-text.png"
        alt="Logo firmy"
        class="logo-company"
      />
    </a>

    <!-- HAMBURGER -->
    <div class="hamburger-icon" onclick="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
    <!-- MENU -->
    <ul class="nav-list">
      <li>
        <a href="#about"><i class="fas fa-info-circle"></i> O NAS</a>
      </li>
      <li>
        <a href="#projects"><i class="fas fa-images"></i> REALIZACJE</a>
      </li>
      <li>
        <a href="#references"><i class="fas fa-star"></i> REFERENCJE</a>
      </li>
      <li>
        <a href="#contact"><i class="fas fa-envelope"></i> KONTAKT</a>
      </li>
    </ul>
    <div class="mobile-menu" id="mobileMenu">
      <ul class="mobile-menu__list">
        <li>
          <a href="#about"><i class="fas fa-info-circle"></i> O NAS</a>
        </li>
        <li>
          <a href="#references"><i class="fas fa-star"></i> REFERENCJE</a>
        </li>
        <li>
          <a href="#contact"><i class="fas fa-envelope"></i> KONTAKT</a>
        </li>
      </ul>
    </div>
    <!-- END OF HAMBURGER MENU -->
  </nav>
  <!-- END OF NAVBAR -->

  <!-- HAMBURGER MENU -->
</header>
