<section class="landing">
  <div class="landing-container">
    <div class="landing-content">
      <div class="landing-img">
        <img src="/images/landing-img.jpg" alt="" />
      </div>
      <div class="banner">
        <img
          src="/images/elicon-LogoPodstawowe_siec.png"
          alt="Logo firmy"
          class="banner-logo__company"
        />
        <div class="banner-content">
          <p class="banner-subheading">
            Twoi Partnerzy w Realizacji Wizji Budowlanych
          </p>
          <p>Pozostawiamy po sobie dobrze zapamiętaną współpracę.</p>
          <a href="#about" class="cta-btn">Dowiedz się więcej</a>
        </div>
      </div>
    </div>
  </div>
</section>
