<section id="projects">
  <h1 class="projects-heading">OSTATNIE PROJEKTY</h1>
  <div class="cards">
    <div class="card">
      <img src="images/cards/kardiologia.jpg" alt="Oddział Kardiologiczny" />
      <div class="card-content">
        <h1>Szpital Św. Wojciecha</h1>
        <p>
          Oddział Kardiologiczny w Szpitalu św. Wojciecha. ul Jana Pawła II 50
          Gdańsk
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="images/cards/ortopedia.jpg"
        alt=" Oddział Chirurgii Urazowo-Ortopedycznej"
      />
      <div class="card-content">
        <h1>Szpital Wojewódzki</h1>
        <p>
          Oddział Chirurgii Urazowo-Ortopedycznej w Szpital im. M. Kopernika.
          ul. Nowe Ogrody 1-6 Gdańsk
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="images/cards/rezonans-magnetyczny.jpg"
        alt="Pracownia Rezonansu Magnetycznego"
      />
      <div class="card-content">
        <h1>Szpital Św. Wojciecha</h1>
        <p>
          Pracownia Rezonansu Magnetycznego w Szpitalu św. Wojciecha. ul Jana
          Pawła II 50 Gdańsk
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="images/cards/wewnetrzny.jpg"
        alt="Oddział Chorób Wewnętrznych"
      />
      <div class="card-content">
        <h1>Szpital Wojewódzki</h1>
        <p>
          Oddział Chorób Wewnętrznych i Hipertensjologii w Szpital im. M.
          Kopernika. ul. Nowe Ogrody 1-6 Gdańsk
        </p>
      </div>
    </div>
  </div>
</section>
