<section id="references">
  <h1>REALIZOWALIŚMY ZADANIA M.IN. DLA</h1>
  <div class="logos">
    <img
      src="/images/logos/copernicus-logo2-removebg-preview.png"
      alt="copernicus"
      class="logo"
    />
    <img
      src="/images/logos/logo_spzozmswia-removebg-preview.png"
      alt="szpital mswia"
      class="logo custom-size"
    />
    <img
      src="/images/logos/Znak_SDP_1-removebg-preview.png"
      alt="Szpital Dziecięcy Polanki"
      class="logo"
    />
  </div>
  <div class="logos">
    <img
      src="/images/logos/erbud-logo-removebg-preview.png"
      alt="erbud"
      class="logo"
    />
    <img
      src="/images/logos/logowhite22.png"
      alt="elsolid"
      class="logo"
      style="background-color: #13314c"
    />
    <img
      src="/images/logos/loga-v9-1536x280.png"
      alt="atlaslift"
      class="logo"
    />
  </div>
</section>
